@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #0d458f;
$background: #f0f0f0;
$border: #e4e4e4;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 22px 0;
	}
	.moduletable_to2 {}
	.moduletable_to3 {
		#a {
			a.button {
				padding: 8px 40px;
				background-color: $secondary_color;
				border-radius: 0;
				-webkit-border-bottom-right-radius: 10px;
				-webkit-border-bottom-left-radius: 10px;
				-moz-border-radius-bottomright: 10px;
				-moz-border-radius-bottomleft: 10px;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	border-top: 20px solid $secondary_color;
	h1 {
		font: {
			size: 18px;
			weight: bold;
		}
		&.big {
			font-size: 30px;
			color: $secondary_color;
		}
	}
	h2 {
		font: {
			size: 18px;
			weight: bold;
		}
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.map_tabs {
		.sow-accordion-panel-header {
			padding: 0 !important;
			.number {
				width: 22px;
				height: 22px;
				margin: 0 5px;
				border-radius: 50%;
				background-color: $secondary_color;
				color: #fff;
				text-align: center;
				display: inline-block;
			}
		}
		.sow-accordion-panel-content {
			font-size: 12px;
			strong {
				color: $secondary_color;
			}
		}
	}
	.custom_form {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 20px;
			padding: 10px 15px;
			background-color: $secondary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font: {
				size: 16px;
				weight: bold;
			}
			color: #fff;
		}
		.input-group {
			background-color: #fff;
			border: 1px solid $border;
			border-radius: 0;
			.input-group-label {
				background: transparent;
				border: 0;
				font-weight: bold;
				color: $secondary_color;
			}
			.input-group-field {
				border: 0;
				box-shadow: none;
			}
		}
		.blue {
			color: $secondary_color;
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
	&.special {
		.category_main {
			a.hollow.button {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
		.single_main {
			.single_thumbnail {
				margin-bottom: 20px;
			}
			.single_content {
				h1 {
					font-size: 18px;
					color: $secondary_color;
				}
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 20px;
	background-color: $background;
	.moduletable_b11 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 20px;
			padding: 10px 15px;
			background-color: $secondary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font: {
				size: 16px;
				weight: bold;
			}
			color: #fff;
		}
		.insideframe {
			ul {
				li {
					padding: 0 20px;
					.insideframe {
						background-color: #fff;
						.thumbnail {
							margin: 0;
							padding: 10px;
							border: 0;
							box-shadow: none;
						}
						.title {
							max-width: 100%;
							padding: 0 10px 10px 10px;
							font-size: 16px;
							color: $secondary_color;
							text: {
								align: center;
								/*transform: uppercase;*/
							}
						}
						.wpcu-front-box.bottom {
							padding: 0 10px 10px 10px;
							.read-more {
								max-width: 100px;
								margin: auto;
								font-size: 0;
								text: {
									align: center;
									transform: uppercase;
								}
								float: none !important;
								&:after {
									content: 'VER MÁS';
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 20px;
	.moduletable_b21 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 20px;
			padding: 10px 15px;
			background-color: $secondary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font: {
				size: 16px;
				weight: bold;
			}
			color: #fff;
		}
	}
}

/* Block 3 */

.block_3 {
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		padding: 80px 0 60px 0;
		.title {
			min-height: 70px;
			margin-bottom: 20px;
			padding: 0 10px;
			border-left: 3px solid #fff;
			font: {
				size: 20px;
				weight: bold;
			}
			color: #fff;
			letter-spacing: 3px;
		}
		.button {
			padding: 10px 15px;
			background-color: #fff;
			border-radius: 0;
			font-weight: bold;
			color: $secondary_color;
		}
	}
}

/* Block 4 */

.block_4 {
	padding-bottom: 20px;
	.moduletable_b41 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 20px;
			padding: 10px 15px;
			background-color: $secondary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font: {
				size: 16px;
				weight: bold;
			}
			color: #fff;
		}
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.bottom_wrap {
	padding: 15px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		font: {
			size: 16px;
			weight: bold;
		}
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 15px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* PSE */

.moduletable_pse1 {
	top: 50%;
	left: -30px;
	position: fixed;
	z-index: 10;
	img {
		width: 100px;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}